/* Variables */

:root {
    --pastel-red: #e15757;
    --peach: #ffbf88;
    --light-neon-green: #62ff32;
    --brownish-grey: #696969;
}


/* Nav */

.navbar {
  position: absolute;
  
  max-width: 1000px;
  width: calc(100% - 2em);
  height: 3em;
  
  margin-left: auto;
  margin-right: auto;
  
  left: 0;
  right: 0;
  
  border-bottom: 1px solid #fff;
  
  padding-top: 2px;
  padding-bottom: 10px;
}

div.header {
  width: 100%;
  display: block;
}

ul.nav-links {
  position: absolute;
  color: #fff;
  list-style-type: none;
  width: 160px;
  
  right: 0;
  margin-left: auto;
  
  padding: 0;
}

ul.logo {
  position: absolute;
  color: #fff;
  list-style-type: none;
  width: 120px;
  
  left: 0;
  margin-right: auto;
  
  padding: 0;
}

img.logo-img {
  height: 30px;
}

ul.nav-links li {
  display: inline;
}

.button-stroke {
  border: 1px solid #fff;
  padding: 3px 24px 4px 24px;
  margin-left: 20px;
  
  /* This should max it out */
  border-radius: 100px;
}

/* Hero */

div.hero {
  height: 38em;
  background-image: radial-gradient(circle at top left, #ffbf88,#e15757);
  padding-top: 8em;
}

div.hero div.block {
  position: relative;
  width: 45em;
  left: 0;
  right: 0;
  margin: 0 auto;
}

div.block div.col {
  position: absolute;
  width: 24.3em;
  right: 0;
  top: 2em;
  margin: 0 auto;
  
  text-align: center;
  color: #fff;
}

div.col p.hero-header {
  font-weight: 600;
  font-size: 2em;
}

div.col p.hero-text {
  font-size: 1.1em;
  margin-bottom: 2em;
}

div.col div.button-stroke {
  width: 12em;
  
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-bottom: 1em;
  
  font-size: 1.1em;
  
  height: 2em;
}

div.col div.button-stroke a {
  top: 0;
  bottom: 0;
  margin: 0 auto;
  line-height: 1.8em;
}

div.hero .find-patrons-image {
  width: 15em;
  position: absolute;
}

img.down {
  position: absolute;
  width: 2.5em;
  left: 0;
  right: 0;
  bottom: 5.5em;
  margin: 0 auto;
}

/* default link style */
a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ededed;
}

body {
  background-color: #e15757;
  margin: 0;
  
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 300;
}